<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Confirmación
body

	#confirmar(data-role="page")
		div(data-role="header")
			h1 Eliminar
		div(data-role="content")
			p Estas por eliminar algo
			a(href="#pagina1", data-role="button" data-rel="back") Eliminar
			a(href="#pagina1", data-role="button" data-rel="back") Cancelar
	