<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	link(href="css/jquery.mobile-1.4.5.min.css",rel="stylesheet",type="text/css")
	link(href="css/style.css",rel="stylesheet")
	script(src="js/jquery-latest.min.js")
	script(src="js/jquery.mobile-1.4.5.min.js")
	meta(name="viewport",content="width=device-width, initial-scale=1.0")
	title Prueba Jquery mobile
	
body
	#pagina1(data-role="page")
		div(data-role="header",data-theme="b",data-position="fixed") 
			h1 header
			a(data-role="button",data-theme="a",data-inline="false",href="#pagina2") Ir a P치gina 2
			a(data-role="button",data-theme="a",data-inline="true",href="pagina2.html",data-transition="fade") Pagina 2 .html
			div(data-role="navbar")
				ul
					li
						a(href="index.html",class="ui-btn-active") Item 1
					li
						a(href="pagina2.html") Item 2
					li
						a(href="pagina3.html") Item 3
					li
						a(href="pagina4.html") Item 4
		div(data-role="content")
			.ui-grid-b
				.ui-block-a
					a(href="",data-role="button") Boton 1
				.ui-block-b
					a(href="",data-role="button") Boton 2
				.ui-block-c
					a(href="",data-role="button") Boton 2
			form(action="correo.php",data-ajax="false")
				label(for="Nombre") Sexo
				select(data-native-menu="false",data-role="slider")
					option(value="M") M
					option(value="F") F
				label(for="Nombre") Nombre
				input(type="text")
				label(for="correo") Email
				input(type="email")
				label(for="correo") Descripci칩n
				textarea
				label(for="Rango") Rango
				input(type="range",min="0",max="20")
				label(for="Paises") Paises
				fieldset(data-role="")
					select(data-native-menu="false")
						option(value="") Pais 1
						option(value="") Pais 2
						option(value="") Pais 3
						option(value="") Pais 4
						option(value="") Pais 5
					select(data-native-menu="false")
						option(value="") Pais 1
						option(value="") Pais 2
						option(value="") Pais 3
						option(value="") Pais 4
						option(value="") Pais 5
			
		div(data-role="footer",data-theme="a",class="ui-bar",data-position="fixed",data-id="footer_fijo")
			h2 footer
			div(data-role="controlgroup",data-type="horizontal")
				a(href="confirmacion.html",data-role="button",data-rel="dialog",data-transition="flip",data-icon="delete",data-iconpos="notext") Eliminar
				a(href="confirmacion.html",data-role="button",data-rel="dialog",data-transition="flip",data-icon="plus") Agregar
				a(href="confirmacion.html",data-role="button",data-rel="dialog",data-transition="flip") Editar

	#pagina2(data-role="page")
		div(data-role="header",data-theme="b") 
			h1 P치gina 2
		div(data-role="content")
			a(data-role="button",data-theme="a",data-inline="false",href="#pagina1") Volver a p치gina 1
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur corporis vel id 
		div(data-role="footer") 
			h2 footer


	